body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em;
}
.heading h1 {
  margin-bottom: 2px;
}
.heading h1 a {
  color: #555;
  text-decoration: none;
}
.heading h1 a:hover {
  background: #f5f5f5;
}
.heading h1 small {
  font-size: 21px;
  font-weight: normal;
}
.heading p {
  margin: 0 0 1.5em;
}
label::after {
  content: attr(data-after);
  color: #a55;
  padding-left: 4px;
}
button {
  border-radius: 3px;
  border: 1px solid #aaa;
  background: #fff;
  color: #555;
  cursor: pointer;
}
button:not(:disabled):hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
button:disabled {
  cursor: initial;
  background: #eee;
}
.doc .ext {
  position: relative;
  margin: 3em 1em 1em;
}
.doc .ext::before {
  content: attr(data-name);
  position: absolute;
  top: -26px;
  padding: 4px 5px;
  color: #333;
  background: #ddd;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.doc .ext .ext-txt,
.doc .ext .ext-unknown {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  background: #f5f5f5;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 5px;
  border-top-left-radius: 0;
}
.doc .ext .ext-obj {
  width: 100%;
  min-height: 600px;
  border: 1px solid #999;
}
.doc .ext .ext-html {
  min-height: 600px;
}
.doc-summary {
  margin: 1em;
}
.doc-summary h2 {
  margin-bottom: 0;
}
.doc-summary h2 a {
  color: #555;
  text-decoration: none;
}
.doc-summary h2 a:hover {
  background: #f5f5f5;
}
.doc-summary .desc {
  color: gray;
  font-weight: normal;
  font-family: Georgia, serif;
  margin-bottom: 4px;
}
.doc-form .input-group {
  margin: 1em;
}
.doc-form label {
  display: block;
  color: #555;
  margin-bottom: 2px;
}
.doc-form input[type=text],
.doc-form input[type=file] {
  font-size: 19px;
  padding: 10px 12px;
}
.doc-form textarea {
  font-size: 16px;
  padding: 10px 12px;
  border: 1px solid gray;
}
.doc-form input[type=text],
.doc-form textarea {
  width: 100%;
  color: #333;
  border: 1px solid gray;
  background: #fafafa;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.doc-form input[type=text]:focus,
.doc-form textarea:focus {
  color: #000;
  background: #fff;
  box-shadow: none;
}
.doc-form button {
  font-size: 18px;
  padding: 10px 12px;
}
.doc-form #titleInput {
  font-weight: bold;
}
